<% if @rants %>
  <% @rants.each do |rant| %>
    <% if rant != nil %>

      <div class="latest-rant-container-flex">

        <div class="latest-rant-flex1">
          <div class="latest-ranter-name"><%= link_to rant.user.username, user_path(rant.user) %></div>
          <div class="latest-rant-picture"><%= image_tag("jeff.png") %></div>
          <%= follow_button rant.user %>
        </div>

        <div class="latest-rant-flex2">
          <%= link_to rant.rant, user_rant_path(rant.user, rant.id), :class => ("font-10pt") %>
          <%= favorite_rant_button rant %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>