<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "rants/new_rant_form" %>
  </div>

  <div class="dash-flex2">

  <%= form_tag search_path, :method => "get" do %>

    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>

  <ul>

  <% if @users %>

    <% @users.each do |user| %>
    <% user.rants.each do |rant| %>

            <li>
              <%= link_to rant.rant, user_rant_path(user, rant.id) %>
            </li>
            <li>
              <%= link_to user.username, user_path(user) %>
              <%= follow_button user %>
            </li>
            <li>
              <% favorite_rant = FavoriteRant.where(rant_id: rant.id, user_id: current_user.id).first %>
              <% if !favorite_rant %>
                <%= button_to "Favorite", user_favorite_rants_path(current_user, rant.id), method: :post%>
              <% else %>
                <%= link_to "Unfavorite", user_favorite_rant_path(current_user, rant.id), :class => "delete", :method => :delete %>
              <% end %>
            </li>
        <% end %>
    <% end %>
  <% end %>

  </ul>
</div>
</div>

