<div class="dash-flex-container">

  <div class="dash-flex1">

    <div class="dash-profile-picture-container"><div class="dash-profile-picture"><%= image_tag("jeff.png") %></div></div>

    <h2 class="text-center white-text"><%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id)%></h2>

    <hr>

    <%= form_for [:user, @rant], url: user_rants_path(@user) do |f| %>
      <% @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <div class="white-text"><%= f.label :name, "A rant about:" %></div>
      <div><%= f.text_field :topic, :class => "rant-form-field" %></div>

      <div class="white-text"><%= f.label :name, "Rant:" %></div>
      <div><%= f.text_area :rant, :class => "rant-form-area", placeholder: "Rant about something, or at someone..." %></div>

      <div><%= f.submit "RANT", :class => "rant-form-submit-button" %></div>
    <% end %>

  </div>
  <div class="dash-flex2">


  <%= form_tag search_path, :method => "get" do %>

    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>

  <ul>

  <% if @users %>

    <% @users.each do |user| %>
    <% user.rants.each do |rant| %>

            <li>
              <%= link_to rant.rant, user_rant_path(rant.user_id, rant.id) %>
            </li>
            <li>
              <%= link_to rant.user.username, user_path(rant.user_id) %>
              <% if @interesting_ranters_ids.include?(rant.user_id) %>
                <h1><%= link_to "unfollow", user_interesting_ranter_path(current_user, rant.user_id), method: :delete %></h1>
              <% else %>
                <%= link_to "follow", user_interesting_ranters_path(current_user, rant.user_id), method: :post %>
              <% end %>
            </li>
            <li>
              <% favorite_rant = FavoriteRant.where(rant_id: rant.id, user_id: current_user.id).first %>
              <% if !favorite_rant %>
                <%= button_to "Favorite", user_favorite_rants_path(current_user, rant.id), method: :post%>
              <% else %>
                <%= link_to "Unfavorite", user_favorite_rant_path(current_user, rant.id), :class => "delete", :method => :delete %>
              <% end %>
            </li>
        <% end %>
    <% end %>
  <% end %>

  </ul>
</div>
</div>

