<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <ul>
    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </li>
    <li>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </li>
    <li>
      <%= f.label :bio %>
      <%= f.text_area :bio, rows: "10" %>
    </li>

    <div id="frequency-of-rants-form"

    <p>How often do you rant?</p>

    <%= f.radio_button :frequency, :daily %>
    <%= f.label :rant_frequency_daily, "Daily" %>

    <%= f.radio_button :frequency, :weekly %>
    <%= f.label :rant_frequency_weekly, "Weekly" %>

    <%= f.radio_button :frequency, :monthly %>
    <%= f.label :rant_frequency_monthly, "Monthly" %>

    <li>
      <%= f.submit "Register" %>
    </li>
  </ul>
<% end %>