<div class="form-container">
  <h1 class="register-form-title">Register</h1>

  <%= form_for @user, :html => { :multipart => true } do |f| %>
    <%= render "error_messages" %>

    <%= f.file_field :avatar %>
    <br>
    <br>
    <div><%= f.label :email %></div>
    <%= f.email_field :email %>
    <br>

    <div class="join-flex-container">
      <div class="join-flex-form">
        <div><%= f.label :username %></div>
        <%= f.text_field :username, :class => "join-field" %>
        <div><%= f.label :password %></div>
        <%= f.password_field :password, :class => "join-field" %>
      </div>

      <div class="join-flex-form">
        <div><%= f.label :first_name %></div>
        <%= f.text_field :first_name, :class => "join-field" %>
        <div><%= f.label :last_name %></div>
        <%= f.text_field :last_name, :class => "join-field" %>
      </div>

      <div class="join-form-bio">
        <div><%= f.label :bio %></div>
        <%= f.text_area :bio, rows: "10", :class => "bio-field" %>
      </div>
    </div>

    <p class>How often do you rant?</p>

    <div class="radio-flex-container">
      <div class="radio-button-flex">
        <%= f.radio_button :frequency, :daily %>
        <%= f.label :rant_frequency_daily, "Daily" %>
      </div>
      <div class="radio-button-flex">
        <%= f.radio_button :frequency, :weekly %>
        <%= f.label :rant_frequency_weekly, "Weekly" %>
      </div>
      <div class="radio-button-flex">
        <%= f.radio_button :frequency, :monthly %>
        <%= f.label :rant_frequency_monthly, "Monthly" %>
      </div>
    </div>

</div>

<div class="register-button-container">
  <%= f.submit "REGISTER", :class=>"register-button-flex" %>
  <% end %>
</div>