<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "rants/new_rant_form" %>
  </div>

  <div class="dash-flex2">

    <h1 class="text-center rant-label"><%= @user.first_name %> <%= @user.last_name %></h1>

    <hr>

    <%= follow_button @user %>

  <p><%= @user.bio %></p>

    <ul>

    <% Rant.sort_by_favorites(@user.rants).each do |rant| %>

      <li><%= rant.topic %></li>
      <li><%= rant.rant %></li>

      <%= favorite_rant_button rant %>
    <% end %>

    </ul>

  </div>
</div>