<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% if @interesting_ranters_ids.include?(@user.id) %>
  <h1><%= link_to "unfollow", user_interestingranter_path(current_user, @user.id), method: :delete %></h1>
<% else %>
  <%= link_to "follow", user_interestingranters_path(current_user, @user.id), method: :post %>
<% end %>

<p><%= @user.bio %></p>
<ul>

    <% Rant.sort_by_favorites(@user.rants).each do |rant| %>
      <li><%= rant.topic %></li>
      <li><%= rant.rant %></li>
      <% favorite_rant = FavoriteRant.where(rant_id: rant.id, user_id: current_user.id).first %>
      <% if !favorite_rant %>
        <%= button_to "Favorite", user_favorite_rants_path(current_user, rant.id), method: :post%>
      <% else %>
        <%= link_to "Unfavorite", user_favorite_rant_path(current_user, rant.id), :class => "delete", :method => :delete %>
      <% end %>
    <% end %>







</ul>