<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "rants/new_rant_form" %>
  </div>

  <div class="dash-flex2">

    <h1 class="text-center rant-label"><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="right-side-follow-button"<%= follow_button @user %></div>
    <br>
    <hr>

    <p><%= @user.bio %></p>

    <%= render "sorted_rants" %>

  </div>

</div>