<% if @mentioned_rants != nil %>
  <hr class="end-of-latest-rant">

  <h1 class="text-center rant-label">Mentioned</h1>

  <% @mentioned_rants.each do |rant| %>
    <div class="latest-rant-container-flex">

      <div class="latest-rant-flex1">
        <div class="latest-ranter-name"><%= link_to rant.user.username, user_path(rant.user_id) %></div>
        <div class="latest-rant-picture"><%= image_tag rant.user.avatar.url(:thumb) %></div>

        <%= follow_button rant.user %>

      </div>

      <div class="latest-rant-flex2">
        <%= link_to markdown(rant.rant), user_rant_path(rant.user_id, rant.id), :class => ("font-10pt") %>

        <%= favorite_rant_button rant %>

      </div>
    </div>
  <% end %>
<% end %>