<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render "new_rant_form" %>
  </div>

  <div class="dash-flex2">

    <h1 class="text-center rant-label"><%= @show_rant.topic %></h1>
    <div class="number-of-favorites"><%= number_of_favorites @show_rant %></div>
    <%= favorite_rant_button @show_rant %>
    <br>
    <hr>

    <div class="latest-rant-container-flex">

      <div class="latest-rant-flex1">
        <div class="latest-rant-picture"><%= image_tag("jeff.png") %></div>
      </div>

      <div class="latest-rant-flex2">
        <p class="show-rant-text"><%= markdown(@show_rant.rant) %></p>
      </div>

    </div>

    <% if @show_rant.comments.length > 0 %>
      <hr class="end-of-latest-rant">
    <% end %>

    <% @show_rant.comments.each do |comment| %>
      <div class="latest-rant-container-flex">
      <div class="latest-rant-flex1">
        <div class="commentor-picture"><%= image_tag("jeff.png") %></div>
      </div>

      <div class="latest-rant-flex2">
        <p class="show-rant-text"><%= comment.text %></p>
      </div>
      </div>

    <% end %>

    <%= form_for :comment, url: rant_comments_path(@show_rant) do |f| %>
      <div><%= f.text_field :text, :class => "comment-form-area", placeholder: "RANT BACK" %></div>

      <div><%= f.submit "RANT BACK", :class => "comment-form-submit-button" %></div>
    <% end %>

  </div>

</div>


