<div class="dash-flex-container">

  <div class="dash-flex1">

    <div class="dash-profile-picture"><%= image_tag("jeff.png") %></div>

    <h2 class="text-center white-text"><%= link_to "#{@user.first_name} #{@user.last_name}", edit_user_path(@user.id)%></h2>

    <hr>

    <%= form_for [:user, @rant], url: user_rants_path(@user) do |f| %>
      <% @rant.errors.any? %>
      <% @rant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <div class="white-text"><%= f.label :name, "A rant about:" %></div>
      <div><%= f.text_field :topic, :class => "rant-form-field" %></div>

      <div class="white-text"><%= f.label :name, "Rant:" %></div>
      <div><%= f.text_area :rant, :class => "rant-form-area", placeholder: "Rant about something, or at someone..." %></div>

      <div><%= f.submit "RANT", :class => "rant-form-submit-button" %></div>
    <% end %>

  </div>

  <div class="dash-flex2">

  <h1 class="text-center rant-label">Following</h1>
    <hr>
    <br>
    <div class="following-ranters-container">
    <% @interesting_ranters.each do |ranter| %>
        <div class="following-ranter-flex">
          <div class="latest-ranter-name"><%= ranter.ranter.first_name %> <%= ranter.ranter.last_name %></div>
          <div class="dash-profile-picture"><%= image_tag("jeff.png") %></div>
          <p class="font-10pt"><%= link_to "unfollow", user_interestingranter_path(current_user, ranter.ranter_id), method: :delete %></p>
        </div>
    <% end %>
    </div>
  </div>
</div>