<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="title">Rantly</div>
  <section id="navbar-links">
  <%if current_user %>
    <%= link_to "LOGOUT", signout_path %>
    <%= link_to "Following", user_interestingranters_path(current_user) %>
  <% else %>
    <%= link_to "Login", signin_path %>
    <%= link_to "Join", new_user_path %>
  <% end %>
  </section>
</header>
<%= flash[:notice] if flash[:notice] %>

<%= yield %>

</body>
</html>
